

<form class="d-flex mb-5 mt-5 "  role="search">
  <input [(ngModel)] ="searchText" class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>

  <div class="row mb-2 mt-5 my-5" *ngIf="products">
    <div class="col-md-6" *ngFor = "let product of products | seachBox : searchText |paginate:{itemsPerPage:tableSize,currentPage:page,totalItems:count} ; index as i" >
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <!-- <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong> -->
          <h3 class="mb-0">{{product.name}}</h3>
          <div class="mb-1 text-body-secondary">{{product.price}}</div>
          <p class="card-text mb-auto">{{product.des}}</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <img [src]="product.img" alt="">
        </div>
      </div>
    </div>
    <div>
      <pagination-controls previousLabel ="prev" nextLabel="next" (pageChange) ="onTableDataChange($event)"></pagination-controls>
    </div>
  
      
    
</div>


 
  
 
  
 
